## Transformation on the Address table (example)

In [ ]:
# dbutils.fs.ls('mnt/silver/SalesLT/')

In [ ]:
# dbutils.fs.ls('mnt/gold/')

In [ ]:
# input_path = '/mnt/silver/SalesLT/Address/'

In [ ]:
#generate the PySpark data frame
#format given as delta since the data frame was written as such in the silver container. need to specify the same format here as well.

# df = spark.read.format('delta').load(input_path)

In [ ]:
# display(df)

In [ ]:
# from pyspark.sql import SparkSession
# from pyspark.sql.functions import col, regexp_replace

#Get the list of column names
# column_names = df.columns

# for old_col_name in column_names:
    #Convert column names from ColumnName to Column_Name format
#    new_col_name = "".join(["_" + char if char.isupper() and not old_col_name[i - 1].isupper() else char for i, char in enumerate(old_col_name)]).lstrip("_")
    
    #Change the column name using withColumnRenamed and regexp_replace
 #   df = df.withColumnRenamed(old_col_name, new_col_name)

In [ ]:
# display(df)

## Transformation for all tables (change column name format from ColumnName to Column_Name)

In [ ]:
table_name = []

# populate table_name with all available tables from the silver container
for i in dbutils.fs.ls('mnt/silver/SalesLT/'):
    table_name.append(i.name.split('/')[0])

In [ ]:
table_name

In [ ]:
#Iterate through the table_name list and perform the transformations on all the individual tables

#Generate the input path using a for each loop
for name in table_name:
    path = '/mnt/silver/SalesLT/' + name
    print(path)
    #read as a data frame using delta format
    df = spark.read.format('delta').load(path)
    
    #Get the list of column names
    column_names = df.columns

    for old_col_name in column_names:
        #Convert column name from ColumnName to Column_Name
        new_col_name = "".join(["_" + char if char.isupper() and not old_col_name[i - 1].isupper() else char for i, char in enumerate(old_col_name)]).lstrip("_")
    
        #Change the column name using withColumnRenamed and regexp_replace
        df = df.withColumnRenamed(old_col_name, new_col_name)

    #Use the data frame to convert all the column names to the expected format
    output_path = '/mnt/gold/SalesLT/' + name + '/'
    df.write.format('delta').mode("overwrite").save(output_path)

In [ ]:
#Displays the last item in the table_name list which is SalesOrderHeader
display(df)